{% load static %}
<footer id="footer">
    <div class="tim-container">
        <div class="footer-inner">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="footer-about">
                        <a href="index.html" class="footer-logo">
                            <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                        </a>

                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words slightly believable.There are many. There are many variations of passages of Lorem.
                        </p>

                        <div class="footer-contact">
                            <div class="contact-details clearfix">
                                <i class="fa fa-map-marker"></i>
                                <p>
                                    22 No. Street New York, West beas park.<br> New York, USA
                                </p>
                            </div>

                            <div class="contact-details clearfix">
                                <i class="fa fa-phone"></i>
                                <p>
                                    Booking Call: +01 245 815 8246
                                </p>
                            </div>

                            <div class="contact-details clearfix">
                                <i class="fa fa-envelope"></i>
                                <p>
                                    <a href="https://themeim.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c4adaaa2ab84bdabb1b6a0aba9a5adaaeaa7aba9">[email&#160;protected]</a>
                                </p>
                            </div>
                        </div>
                        <!-- /.footer-address -->
                    </div>
                    <!-- /.footer-about -->
                </div>
                <!-- /.col-xl-3 col-lg-4 col-sm-6 -->

                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="footer-blog-inner">
                        <h3 class="footer-title">Our Latest Post</h3>
                        <div class="footer-blog">

                            <div class="widget-latest-post">
                                <a href="#" class="fea-image">
                            <img src="/media/blog/f1.jpg" alt="Thumb">
                        </a>

                                <div class="content">
                                    <h3><a href="#">Musicial Audio Songs doit amet<br> concateur un</a> </h3>
                                    <a href="#" class="meta">Feb 15,2018</a>
                                </div>

                            </div>
                            <!-- /.widget-latest-post -->
                        </div>
                        <!-- /.footer-blog -->

                        <div class="footer-blog">

                            <div class="widget-latest-post">
                                <a href="#" class="fea-image">
                            <img src="/media/blog/f2.jpg" alt="Thumb">
                            <i class="fa fa-play-circle"></i>
                        </a>

                                <div class="content">
                                    <h3><a href="#">Musicial Audio Songs doit amet<br> concateur un</a> </h3>
                                    <a href="#" class="meta">Feb 15,2018</a>
                                </div>

                            </div>
                            <!-- /.widget-latest-post -->
                        </div>
                        <!-- /.footer-blog -->

                        <div class="footer-blog">

                            <div class="widget-latest-post">
                                <a href="#" class="fea-image">
                            <img src="/media/blog/f3.jpg" alt="Thumb">
                        </a>

                                <div class="content">
                                    <h3><a href="#">Musicial Audio Songs doit amet<br> concateur un</a> </h3>
                                    <a href="#" class="meta">Feb 15,2018</a>
                                </div>

                            </div>
                            <!-- /.widget-latest-post -->
                        </div>
                        <!-- /.footer-blog -->
                    </div>
                    <!-- /.footer-blog-inner -->
                </div>
                <!-- /.col-xs-3 -->

                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="footer-tags">
                        <h3 class="footer-title">Our Latest Post</h3>
                        <div class="tagcloud">
                            <a href="#">Rockstar</a>
                            <a href="#">Creative</a>
                            <a href="#">Design</a>
                            <a href="#">Responsive</a>
                            <a href="#">Max Studio</a>
                            <a href="#">Life</a>
                        </div>
                        <!-- /.tagcloud -->
                    </div>
                    <!-- /.footer-tags -->

                    <div class="footer-newsletter">
                        <h3 class="footer-title">Join our newsletter.</h3>

                        <p>
                            Some form, by injected humour, or randoised words slightly believablere are many .
                        </p>

                        <form action="#" id="widget-newsletter">
                            <input type="text" placeholder="Enter Your Email">
                            <button type="submit" class="submit"><i class="fa fa-paper-plane-o"></i></button>
                        </form>
                    </div>
                    <!-- /.footer-newsletter -->
                </div>
                <!-- /.col-xl-3 col-lg-4 col-sm-6 -->

                <div class="col-xl-3 col-lg-6 col-sm-6">
                    <div class="widget-instagram">
                        <h3 class="footer-title">Instagram Image</h3>

                        <div class="instagram-feed">
                            <a href="#">
                        <img src="/media/instagram/1.jpg" alt="thumb">
                    </a>
                            <a href="#">
                        <img src="/media/instagram/2.jpg" alt="thumb">
                    </a>

                            <a href="#">
                        <img src="/media/instagram/3.jpg" alt="thumb">
                    </a>

                            <a href="#">
                        <img src="/media/instagram/4.jpg" alt="thumb">
                    </a>

                            <a href="#">
                        <img src="/media/instagram/5.jpg" alt="thumb">
                    </a>

                            <a href="#">
                        <img src="/media/instagram/6.jpg" alt="thumb">
                    </a>

                            <a href="#">
                        <img src="/media/instagram/7.jpg" alt="thumb">
                    </a>

                            <a href="#">
                        <img src="/media/instagram/8.jpg" alt="thumb">
                    </a>

                            <a href="#">
                        <img src="/media/instagram/9.jpg" alt="thumb">
                    </a>

                        </div>
                    </div>
                    <!-- /.widget-instagram -->
                </div>
                <!-- /.col-xl-3 col-lg-4 col-sm-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.footer-inner -->
    </div>
    <!-- /.tim-container -->
    <ul class="footer-social-link">
        <li class="fb-bg"><a href="#">Facebook</a></li>
        <li class="yotube-bg"><a href="#">Youtube</a></li>
        <li class="tw-bg"><a href="#">Twitter</a></li>
        <li class="pin-bg"><a href="#">Pinterest</a></li>
    </ul>
    <div class="copyright-text">
        <div class="tim-container">
            <div class="row">
                <div class="col-sm-7 col-md-6">
                    <p>Copyright © 2018, <a href="http://www.themeim.com/">Music Studio</a>. All Right Reserved</p>
                </div>
                <!-- /.col-md-6 -->
                <div class="col-sm-5 col-md-6">
                    <div class="design-author text-right">
                        <p>Designed by <a href="http://www.themeim.com/">ThemeIM</a></p>
                    </div>
                    <!-- /.design-author -->
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.tim-container -->
    </div>
    <!-- /.copyright-text -->
</footer>