{% load static %}
{% load active_link_tags %}
<header class="header header-magic-line">
    <div class="header-inner">
        <div class="tim-container clearfix">
            <div class="header-magic-line-inner clearfix">
                <div id="site-logo" class="float-left">
                    <a href="{% url 'home' %}" class="logo-main"><img src="{% static 'assets/img/logo.png' %}" style="width:320px" alt="logo"></a>
                    <a href="{% url 'home' %}" class="logo-stickky"><img src="{% static 'assets/img/logo.png' %}" style="width:320px" alt="logo"></a>
                </div>


                <div class="nav">
                    <ul class="group" id="header-menu-magic-line">
                        <li class="menu-item {% active_link 'home' 'current_page_item' strict=False %}">
                            <a href="{% url 'home' %}">Home </a>
                        </li>
                        <li class="menu-item {% if request.resolver_match.view_name == 'all_songs' or request.resolver_match.view_name == 'song' %}current_page_item{% endif %}">
                            <a href="{% url 'all_songs' %}">Songs</a>
                        </li>
                        <li class="menu-item {% active_link 'search' 'current_page_item' strict=True %}">
                            <a href="{% url 'search' %}">Find</a>
                        </li>
                        {% if request.user.is_authenticated%}
                        <li class="menu-item {% active_link 'dashboard' 'current_page_item' strict=True %}">
                            <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        {% else %}
                        <li class="menu-item {% active_link 'register||login' 'current_page_item' strict=True %}">
                            <a href="{% url 'login' %}">Login/Register</a>
                        </li>
                        {% endif %}

                        {% if request.user.is_authenticated and request.user.is_staff %}
                        <li class="menu-item {% active_link 'upload' 'current_page_item' strict=True %}">
                            <a href="{% url 'upload' %}">Add Songs</a>
                        </li>
                        <li class="menu-item {% active_link 'admin' 'current_page_item' strict=True %}">
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.nav -->
            </div>
        </div>
        <!-- /.tim-container -->
    </div>
    <!-- /.header-inner -->
</header>