{% load static %}
<header class="header">
    <div class="header-inner">
        <div class="tim-container clearfix">
            <div id="site-logo" class="float-left">
                <a href="index.html" class="logo-main">
            <img src="{% static 'assets/img/logo.png' %}" alt="logo">
        </a>

                <a href="index.html" class="logo-stickky">
            <img src="{% static 'assets/img/logo-sticky.png' %}" alt="logo">
        </a>
            </div>
            <div class="nav float-right">
                <ul id="main-header-menu">
                    <li class="menu-item-has-children active">
                        <a href="index.html">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home Player V1</a></li>
                            <li><a href="index-two.html">Home Player V2</a></li>
                            <li><a href="index-three.html">Home Three</a></li>
                            <li><a href="index-four.html">Home Magazine</a></li>
                            <li><a href="index-five.html">Home Five</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="artist.html">Aritist</a>
                        <ul class="sub-menu">
                            <li><a href="artist.html">Artist</a></li>
                            <li><a href="artist-single.html">Artist Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="album.html">Album</a>
                        <ul class="sub-menu">
                            <li><a href="album.html">Album</a></li>
                            <li><a href="album-single.html">Album Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="event.html">Events</a>
                        <ul class="sub-menu">
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="tabs.html">Tabs</a>
                        <ul class="sub-menu">
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="tabs-single.html">Tabs Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="blog-list-right.html">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog-list-right.html">Blog Standard</a></li>
                            <li><a href="blog-grid-right.html">Blog Grid</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>

                        </ul>
                    </li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li class="menu-item-has-children">
                        <a href="shop-right.html">Shop</a>
                        <ul class="sub-menu">
                            <li><a href="shop-right.html">Shop Right</a></li>
                            <li><a href="shop-left.html">Shop Left</a></li>
                            <li><a href="shop-single.html">Shop Details</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="shop-left.html" class="head-btn">Music Store</a>
            </div>
            <!-- /.nav -->
        </div>
        <!-- /.tim-container -->
    </div>
    <!-- /.header-inner -->
</header>