{% load static %}
<div class="mobile-menu-inner">

    <div class="mobile-nav-top-wrap">
        <div class="mob-header-inner clearfix">
            <div class="d-flex justify-content-start mobile-logo">
                <a href="{% url 'home' %}">
            <img src="/media/icons/logo.png" alt="Site Logo">
        </a>
            </div>

            <div class="close-menu">
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
        <!-- /.mob-header-inner -->

        <div class="close-menu">
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <!-- /.mobile-nav-top-wrap -->

    <nav id="accordian">
        <ul class="accordion-menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'all_songs' %}">Songs</a></li>
            <li><a href="{% url 'search' %}">Find</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login/Register</a></li>
            {% endif %}
            {% if request.user.is_authenticated and request.user.is_staff %}
            <li><a href="{% url 'upload' %}">Add Songs</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</div>