{% load static %}
<header id="mobile-nav-wrap">
    <div class="mob-header-inner d-flex justify-content-between">
        <div id="mobile-logo" class="d-flex justify-content-start">
            <a href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="Site Logo"></a>
        </div>

        <ul class="user-link nav justify-content-end">
            <li><a href="#"><i class="fa fa-user"></i>Login</a></li>
            <li><a href="#"><i class="fa fa-sign-in"></i>Sign Up</a></li>
        </ul>

        <div id="nav-toggle" class="nav-toggle hidden-md">
            <div class="toggle-inner">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /.mob-header-inner -->
</header>