{% load static %}
<div class="mobile-menu-inner">

    <div class="mobile-nav-top-wrap">
        <div class="mob-header-inner clearfix">
            <div class="d-flex justify-content-start mobile-logo">
                <a href="index.html">
            <img src="{% static 'assets/img/logo-dark.png' %}" alt="Site Logo">
        </a>
            </div>

            <div class="close-menu">
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
        <!-- /.mob-header-inner -->

        <div class="close-menu">
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <!-- /.mobile-nav-top-wrap -->

    <nav id="accordian">
        <ul class="accordion-menu">
            <li>
                <a href="#0" class="dropdownlink">Home</a>
                <ul class="submenuItems">
                    <li><a href="index.html">Home One</a></li>
                    <li><a href="index-two.html">Home Two</a></li>
                    <li><a href="index-three.html">Home Three</a></li>
                    <li><a href="index-four.html">Home Four</a></li>
                </ul>
            </li>
            <li>
                <a href="#0" class="dropdownlink">Artist</a>
                <ul class="submenuItems">
                    <li><a href="artist.html">Artist</a></li>
                    <li><a href="artist-single.html">Artist Details</a></li>
                </ul>
            </li>
            <li>
                <a href="album.html">Album</a>
            </li>
            <li>
                <a href="#0" class="dropdownlink">Events</a>
                <ul class="submenuItems">
                    <li><a href="event.html">Events</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </li>
            <li>
                <a href="tabs.html">Tabs</a>

            </li>
            <li>
                <a href="#0" class="dropdownlink">Blog</a>
                <ul class="submenuItems">
                    <li><a href="blog-list-right.html">Blog Standard</a></li>
                    <li><a href="blog-grid-right.html">Blog Grid</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                </ul>
            </li>

            <li>
                <a href="gallery.html">Gallery</a>
            </li>
            <li>
                <a href="#0" class="dropdownlink">Shop</a>
                <ul class="submenuItems">
                    <li><a href="shop-right.html">Shop Right</a></li>
                    <li><a href="shop-left.html">Shop Left</a></li>
                    <li><a href="shop-single.html">Shop Details</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>