{% load static %}
<div class="offset-menu-two">
    <a href="#" class="offset-closer"><img src="{% static 'assets/img/offset-cross2.png' %}" alt=""></a>

    <div class="footer-about">
        <p> There are many variations of passages of Lorem Ipsum available </p>

        <div class="footer-contact">
            <div class="contact-details clearfix">
                <i class="fa fa-phone"></i>
                <p>Call: +01 245 815 8246</p>
            </div>

            <div class="contact-details clearfix">
                <i class="fa fa-envelope"></i>
                <p> <a href="https://themeim.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="254c4b434a655c4a5057414a48444c">[email&#160;protected]</a>n.com </p>
            </div>

            <div class="contact-details clearfix">
                <i class="fa fa-map-marker"></i>
                <p> 22 No. Street New York, West beas park.New York, USA </p>
            </div>
        </div>
        <!-- /.footer-address -->
    </div>

    <div class="offset-social-two">
        <a href="#"><img src="{% static 'assets/img/logo_5.png' %}" alt=""></a>
        <ul>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>