{% load static %}
<div class="Switcher">
    <button id="Switcher__control" class="Switcher__control"><i class="tim-cogwheel"></i></button>
    <h5>Change Color</h5>
    <ul id="colors" data-dir="{% static 'assets/css/theme-color/' %}">
        <li data-scheme="theme-default" data-color="#e43a90"></li>
        <li data-scheme="theme-river" data-color="#242e8a"></li>
        <li data-scheme="theme-alizarin" data-color="#673AB7"></li>
        <li data-scheme="theme-emerald" data-color="#2196f3"></li>
        <li data-scheme="theme-seven" data-color="#7940d7"></li>
        <li data-scheme="theme-carrot" data-color="#135ee4"></li>
        <li data-scheme="theme-amethyst" data-color="#07e6a5"></li>


        <li data-scheme="theme-six" data-color="#d8c600"></li>

        <li data-scheme="theme-eight" data-color="#e8300c"></li>
        <li data-scheme="theme-nine" data-color="#26cc74"></li>
    </ul>
</div>