{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>SoundSense.ai - All Songs</title>
<section class="section-padding">
    <div class="tim-container clearfix" style="text-align: center">
        <div class="row">
            <div class="section-title style-four">
                <h2>Explore Harmonious Connections</h2>
                <p>Discover the richness of our extensive database, featuring a handpicked selection of over {{song_count}} meticulously curated songs, all masterfully crafted in impeccable high quality.</p>
            </div>
        </div>
        <div class="row" style="text-align: left">

            {% for song in page_obj %}
            <div class="col-lg-3 col-md-4 col-6 col-full-width" style="padding-right: 10px;padding-left: 10px;padding-bottom: 10px;padding-top: 10px;">
                <ul class="artist-line-wrapper">
                    <li class="artist-single clearfix">
                        <img src="/media/{{song.artwork}}" alt="">
                        <a href="{% url 'song' song.id %}">
                            <div class="artist-single-content">
                                <h6>{{song.title}}</h6>
                                <p>{{song.artist}}</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            {% endfor %}

        
        </div>
        <div style="pagination center;display: inline-block;">
            <div id="store-pagination" class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets center" style="margin: 0 auto">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><span class="swiper-pagination-bullet"></span></a>
                {% endif %}
                
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><span class="swiper-pagination-bullet"></span></a>
                {% endif %}
            </div>
        </div>
        
    </div>

</section>

{% endblock %}
