{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--============================-->
<!--=        	Banner         =-->
<!--============================-->
<section class="banner-five" style="background-image: url('/media/background/bg5.jpg');height:inherit">
    <div class="tim-container">
        <div class="content" style="display: flex;align-items: center;height: 100vh;">
            
        </div>
        <div class="baneer-five-content">
            <div class="content sp-container">
                <div class="sp-content" style="left:0; top:0">
                    <div class="sp-globe"></div>

                    <div class="content text-center">
                        <img src="{% static 'assets/img/logo.png' %}" style="width:820px" alt="logo">
                        <h3>Explore Music With AI</h3>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.tim-container -->
    </div>
    <!-- /.tim-container -->

    <div class="smoke-wrqpper">
        <canvas id="canvas"></canvas>
    </div>

</section>
<!-- /#page-header -->



{% endblock %}
