{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>SoundSense.ai - Home</title>
<!--============================-->
<!--=        	Banner         =-->
<!--============================-->
<section class="banner-five" style="background-image: url('/media/background/bg5.jpg');height:inherit">
    <div class="tim-container">
        <div class="content" style="display: flex;align-items: center;height: 100vh;">
            <div class="content text-center homelogo">
                <img src="/media/icons/logo.png" alt="logo">
                <h3>Broaden your musical palette by exploring a rich collection of songs, meticulously selected through our AI-powered recommendation engine.</h3>
            </div>

     

        </div>
        
        <!-- /.tim-container -->
    </div>
    <!-- /.tim-container -->

    <div class="smoke-wrqpper">
        <canvas id="canvas"></canvas>
    </div>

</section>
<!-- /#page-header -->



{% endblock %}
