{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>SoundSense.ai - Login</title>

<section class="section-padding">
    <div class="tim-container clearfix">
        <div class="row">
            <div class="section-title style-four">
                <h2>LOGIN AS A USER</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mx-auto">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-block btn-primary">Login</button>
                </form>
                <br>
                <span style="color:white">Not a user?</span><br>
                <a href="{% url 'register'%}"><button type="button" class="btn btn-block btn-info">Register Now</button></a>
            </div>

        </div>
    </div>
</section>






{% endblock %}