{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-padding">
    <div class="tim-container clearfix">
        <div class="row">
            <div class="section-title style-four">
                <h2>JOIN OUR COMMUNITY</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-10 col-sm-12 mx-auto">

                  <form method="post">
                    {% csrf_token %}
                    
                    <div class="form-group">
                      <label for="id_username">Username:</label>
                      <input type="text" class="form-control" name="username" maxlength="150" autofocus="" required="" id="id_username">
                      <small class="form-text text-muted">{{ form.username.help_text }}</small>
                    </div>
                    
                    <div class="form-group">
                      <label for="id_email">Email:</label>
                      <input type="email" class="form-control" name="email" required="" id="id_email">
                    </div>
                    
                    <div class="form-group">
                      <label for="id_password1">Password:</label>
                      <input type="password" class="form-control" name="password1" autocomplete="new-password" required="" id="id_password1">
                      <small class="form-text text-muted">{{ form.password1.help_text }}</small>
                    </div>

                    <div class="form-group">
                      <label for="id_password2">Confirm Password:</label>
                      <input type="password" class="form-control" name="password2" autocomplete="new-password" required="" id="id_password2">
                      <small class="form-text text-muted">{{ form.password2.help_text }}</small>
                    </div>
                    {% if form.password1.errors %}
                    <ul class="text-danger">
                        {% for error in form.password1.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Register</button>
                  </form>

            </div>

        </div>
    </div>
</section>






{% endblock %}