{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-padding">
    <div class="tim-container clearfix">
        <div class="container">
            <div class="row">
                <div class="section-title style-four">
                    <h2>Discover Melodic Harmonies</h2>
                    <p>Explore Songs that Resonate with Your Sound</p>
                </div>

            </div>
            <div class="single-album-info"><div class="single-album-details" style="padding:33px 59px 26px 0px">
                <div class="details-top">
                    <h6>Explore similar songs suggested by our AI algorithm</h6>
                </div>
            </div></div>
            <div class="row">

                {% for song in similar_songs %}
                <div class="col-lg-3 col-md-4 col-6 col-full-width" style="padding-right: 10px;padding-left: 10px;padding-bottom: 10px;padding-top: 10px;">
                    <ul class="artist-line-wrapper">
                        <li class="artist-single clearfix">
                            <img src="/media/{{song.artwork}}" alt="">
                            <a href="{% url 'song' song.id %}">
                                <div class="artist-single-content">
                                    <h6>{{song.title}}</h6>
                                    <p>{{song.artist}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                {% endfor %}

            </div>


        </div>
    </div>

</section>

{% endblock %}
