{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--============================-->
<!--=        	Banner         =-->
<!--============================-->
<section class="banner-five" style="background-image: url('/media/background/bg5.jpg');">
    <div class="tim-container">
        <div class="content" style="display: flex;align-items: center;height: 100vh;padding-left: 50px;">
            <img src="/media/{{current_song.artwork}}" alt="" style="max-width: 450px">
        </div>
        <div class="baneer-five-content">
            <div class="content sp-container">
                <div class="sp-content">
                    <div class="sp-globe"></div>

                    <div class="col-md-8 content text-center" >
                        <h2>{{current_song.title}}</h2>
                        <h3>{{current_song.artist}}</h3>
                    
                    </div>

                </div>

            </div>
        </div>
        <!-- /.tim-container -->
    </div>
    <!-- /.tim-container -->

    <div class="smoke-wrqpper">
        <canvas id="canvas"></canvas>
    </div>

</section>
<!-- /#page-header -->


<section class="header_player style-fullwidth">

    <!-- Audio Player -->
    <div class="player-container-fullwidth">

        <!-- /.current-tracks -->
        <div id="header_player" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-playlist clearfix">
                <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                        <button class="jp-play" tabindex="0"><i class="fa fa-play"></i></button>
                    </div>
                    <!-- Display the track inside player -->

                    <div class="current-tracks">
                        <div id="main_player" class="jp-jplayer">

                        </div>
                        <div id="nowPlaying">
                            <h3 class="track-name"></h3>
                            <span class="artist-name"></span>
                        </div>
                        <!-- #nowPlaying -->
                    </div>
                    <!-- /.current-tracks -->

                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>

                    <div class="jp-duration" role="timer" aria-label="duration"></div>

                    <div class="vel-wrap">
                        <button class="jp-mute" tabindex="0"><i class="fa fa-volume-up"></i></button>

                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>

                    </div>
                    <!-- /.vel-wrap -->

                    <button id="playlist-toggle" class=""><i class="fa fa-list"></i></button>

                    <!-- Playlist -->
                    <div class="jp-playlist">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="tranding-album">
    <div class="tim-container">
        <div class="row">
            <div class="col-md-6">

                <div class="single-album-info">

                    <div class="single-album-details">
                        <div class="details-top">
                            <h6>Description</h6>
                        </div>
        
                        <ul>
        
                            {% if current_song.title %}<li>Title <span>{{current_song.title}}</span></li>{% endif %}
                            {% if current_song.artist %}<li>Artist <span>{{current_song.artist}}</span></li>{% endif %}
                            {% if current_song.album %}<li>Album <span>{{current_song.album}}</span></li>{% endif %}
                            {% if current_song.album_artist %}<li>Album artist <span>{{current_song.album_artist}}</span></li>{% endif %}
                            {% if current_song.track_number %}<li>Track number <span>{{current_song.track_number}}</span></li>{% endif %}
                            {% if current_song.released %}<li>Release year <span>{{current_song.released|date:"Y"}}</span></li>{% endif %}
        
                            {% if current_song.genre_set.count > 0 %}<li>Genre <span>{{current_song.genre_set.first.get_name_display}}</span></li>{% endif %}
                            {% if current_song.duration %}<li>Duration <span>{{current_song.duration}}</span></li>{% endif %}
        
                            {% if current_song.tag_set.count > 0 %}<li>Tags <span>{% for tag in current_song.tag_set.all %}{{tag.get_name_display}}{% if not forloop.last %}, {% endif %}{% endfor %}</span></li>{% endif %}
        
                        </ul>
        
                    </div>

                <!-- /.col-lg-6 -->
    
                    <div class="single-album-details">
                        <div class="details-top">
                            <h6>Lyrics</h6>
                        </div>
                        <ul style="color:#e9e5e5">{{current_song.lyrics|safe}}</ul>
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="section-title style-four">
                    <h2>YOU MAY ALSO LIKE</h2>
                    <p>Similar songs powered by our AI</p>
                </div>
                <!-- /.section-title -->

                <div class="album-boxs">
                    <div class="row">
        
                        {% for song in similar_songs %}
                        <div class="col-lg-6 col-md-4 col-6 col-full-width" style="padding-right: 10px;padding-left: 10px;padding-bottom: 10px;padding-top: 10px;">
                            <ul class="artist-line-wrapper">
                                <li class="artist-single clearfix">
                                    <img src="/media/{{song.artwork}}" alt="">
                                    <a href="{% url 'song' song.id %}">
                                        <div class="artist-single-content">
                                            <h6>{{song.title}}</h6>
                                            <p>{{song.artist}}</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endfor %}
        
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}
