{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-padding">
    <div class="tim-container clearfix">
        <div class="row">
            <div class="section-title style-four">
                <h2>ADD MORE SONGS</h2>
                <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some injected humour.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-10 col-sm-12 mx-auto">
                <div class="container">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Select songs</label>
                            {{ form.file }}
                        </div>
                        <div class="row">
                            <div class="col text-center">
                              <button type="submit" class="btn btn-primary btn-lg">Upload</button>
                            </div>
                          </div>
                    </form>
                </div>

                <div class="container my-lg-3">
                    <div class="row">
                      <div class="col">
                        <a href="{% url 'update_csv' %}"><button class="btn btn-primary btn-block">Update Data</button></a>
                      </div>
                      <div class="col">
                        <a href="{% url 'update_others' %}"><button class="btn btn-primary btn-block">Update Tags and Genre</button></a>
                      </div>
                      <div class="col">
                        <a href="{% url 'retrain' %}"><button class="btn btn-danger btn-block">Retrain Model</button></a>
                      </div>
                    </div>
                  </div>
                  
            </div>

        </div>
    </div>
</section>


{% endblock %}